<p>
  <b>Name:</b>
  <%=h @especialidade.name %>
</p>

<p>
  <b>Duration:</b>
  <%=h @especialidade.duration %>
</p>

<p>
  <b>Value:</b>
  <%=h @especialidade.value %>
</p>


<%= link_to 'Edit', edit_especialidade_path(@especialidade) %> |
<%= link_to 'Back', especialidades_path %>