<h1>New contato</h1>

<% form_for(@contato) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :tipo_contato %><br />
    <%= f.text_field :tipo_contato %>
  </p>
  <p>
    <%= f.label :paciente_id %><br />
    <%= f.text_field :paciente_id %>
  </p>
  <p>
    <%= f.label :estabelecimento_id %><br />
    <%= f.text_field :estabelecimento_id %>
  </p>
  <p>
    <%= f.label :profissional_id %><br />
    <%= f.text_field :profissional_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', contatos_path %>