<p>
  <b>Name:</b>
  <%=h @profissional.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @profissional.address %>
</p>

<p>
  <b>Number:</b>
  <%=h @profissional.number %>
</p>

<p>
  <b>Complement:</b>
  <%=h @profissional.complement %>
</p>

<p>
  <b>Neighborhood:</b>
  <%=h @profissional.neighborhood %>
</p>

<p>
  <b>City:</b>
  <%=h @profissional.city %>
</p>

<p>
  <b>Uf:</b>
  <%=h @profissional.uf %>
</p>

<p>
  <b>Gender:</b>
  <%=h @profissional.gender %>
</p>

<p>
  <b>Birth date:</b>
  <%=h @profissional.birth_date %>
</p>

<p>
  <b>Crm:</b>
  <%=h @profissional.crm %>
</p>

<p>
  <b>Percentage:</b>
  <%=h @profissional.percentage %>
</p>


<%= link_to 'Edit', edit_profissional_path(@profissional) %> |
<%= link_to 'Back', profissionals_path %>