<p>
  <b>Name:</b>
  <%=h @convenio.name %>
</p>

<p>
  <b>Telephone:</b>
  <%=h @convenio.telephone %>
</p>

<p>
  <b>Site:</b>
  <%=h @convenio.site %>
</p>


<%= link_to 'Edit', edit_convenio_path(@convenio) %> |
<%= link_to 'Back', convenios_path %>