<h1>Editing semana</h1>

<% form_for(@semana) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @semana %> |
<%= link_to 'Back', semanas_path %>